@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.App {
  text-align: center;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 20px;
  width: 100%;
  height: calc(100vh - 220px);
  overflow: scroll;
  column-gap: 20px;
  row-gap: 50px;
  -webkit-box-pack: start;
  background: linear-gradient(90deg, rgba(255,180,180,1) 0%, rgba(255,193,193,1) 50%, rgba(255,219,118,1) 100%);
}

.albumSelection {
  color:white;
  text-align: center;
  transition: transform .4s;
}

.albumSelection:hover {
  color: white;
  transform: scale(1.05);
}
.volume {
  width:100px;
}

.soundDiv {
  display: flex;
  gap:15px;
  font-size: 20px;
  align-items:center;
  width: 200px;
  justify-content: center;
}

.pauseplay {
  font-size: 35px;
  transition: transform 0.2s;
}

.pauseplay:hover {
  transform: scale(1.1);
}

.forback {
  font-size: 16px;
  transition: transform 0.2s;
}

.forback:hover {
  transform: scale(1.4);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.progress {
  width:400px;
  background-color: transparent;
  overflow: visible;
}

.progress .ant-slider-track {
  background-color: pink;
}

.progress .ant-slider-handle {
  background-color: transparent;
}

.cover {
  height: 120px;
}

.songTitle {
  font-size: 16px;
  color: black;
  margin-bottom: 15px;
}

.songAlbum {
  font-size: 12px;
}

.musicPlayer {
  display: flex;
  justify-content: space-evenly;
}

.sliderAndButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footerStyle {
  height: 150px;
  text-align: center;
  color: #000;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 100%);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
}

.gradientBackground {
  background: linear-gradient(90deg, rgba(255,180,180,1) 0%, rgba(255,193,193,1) 50%, rgba(255,219,118,1) 100%);
  height: calc(100vh - 70px);
}

a {
  color: white;
  text-decoration: none; /* no underline */
}

a:hover {
  color: antiquewhite;
}

.navbarItems {
  padding-right: 10px;
  padding-left: 10px;
}